%fieldset
  %legend Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    %div.row
      %div.large-4.large-centered.columns
        = f.label :name
        = f.text_field :name
    %div.row
      %div.large-4.large-centered.columns
        = f.label :email
        = f.email_field :email
    %div.row
      %div.large-4.large-centered.columns
        = f.label :password
        %i (leave blank if you don't want to change it)
        = f.password_field :password, :autocomplete => "off"
    %div.row
      %div.large-4.large-centered.columns
        = f.label :password_confirmation
        = f.password_field :password_confirmation
    %div.row
      %div.large-4.large-centered.columns
        = f.label :current_password
        / %i (we need your current password to confirm your changes)
        = f.password_field :current_password
        = f.submit "Update", class: "button small"
%fieldset        
  %legend Cancel my account
  %div.row
    %div.large-5.large-centered.columns
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
