%fieldset
  %legend Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div.row
      %div.large-4.large-centered.columns
        = f.label :name
        = f.text_field :name
    %div.row
      %div.large-4.large-centered.columns
        = f.label :email
        = f.email_field :email
    %div.row
      %div.large-4.large-centered.columns
        = f.label :password
        = f.password_field :password
    %div.row
      %div.large-4.large-centered.columns
        = f.label :password_confirmation
        = f.password_field :password_confirmation
    %div.row
      %div.large-4.large-centered.columns
        = f.submit "Sign up", class: "button small"
    %div.row
      %div.large-4.large-centered.columns
        = render "devise/shared/links"
