%row
  %div.large-7.large-centered.columns
    %h3 All users
%row
  %div.large-8.large-centered.columns
    %table
      %thead
        %tr
          %th{width: "200"} Username
          %th{width: "250"} Email
          %th Registered
          %th Role
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.email
            %td= user.created_at.to_date
            %td= user.roles.first.name.titleize unless user.roles.first.nil?
            %td= link_to("Change role", "#", "data-reveal-id" => "modal-#{user.id}") unless user == current_user 
            = render user
            %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user
        