%h3 Projects
- @projects.each do |project|
  %p
    - if current_user.has_role? :admin
      #{link_to project.name, project}
    - else
      = link_to project.name, project_time_entries_path(project) 
%p
  - if current_user.has_role? :admin
    = form_for @project, url: projects_path  do |f|
      = f.label(:name)
      = f.text_field(:name)
      = f.submit
