%row
  %div.large-4.large-centered.columns
    .titl
      %h2 Projects

%row
  %div.large-4.large-centered.columns
    %table
      %thead
        
        - @projects.each do |project|    
          %tr
            - if  current_user && current_user.has_role?(:admin)
              %th= link_to project.name, project
              / %th= link_to "Edit", edit_project_path(project), class: "button tiny radius"
              %th= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "button tiny radius"
            - else
              %th= link_to project.name, project_time_entries_path(project) 

%row
  %div.large-4.large-centered.columns
    - if current_user && current_user.has_role?(:admin)
      = form_for @project, url: projects_path  do |f|
        = f.label(:name)
        = f.text_field(:name)
        = f.submit class: "button small"
