%h2= @project.name
%table
  %th Date
  %th Hours
  - current_user.time_entries.each do |time_entry|
    - if time_entry.project == @project
      %tr
        %td= time_entry.date
        %td= time_entry.hours
  = form_for @time_entry, url: project_time_entries_path(@project)  do |f|
    %tr
      %td= f.datetime_field(:date)
      %td= f.number_field(:hours)
      %td= f.submit